<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 设置手机端全屏显示，不允许出现滚动条  -->
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta name="format-detection" content="telphone=no, email=no" />	
		<!--  引入图标文件  -->
		<link rel="stylesheet" type="text/css" href="../css/svg/font.css"/>	
		<!--   样式加载    -->
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/affirm-mo.css"/>
		<script src="../js/rem.js"></script>
		<title></title>
	</head>
	<body>
		
		<div class="cc">
			<header>
				<div class="fl"><a href="javascript:history.back(-1);">&lsaquo;</a></div>
				确认订单
				<div class="fr">&#8230;</div>
			</header>
			<div class="order">
				<div class="form">
					<div class="img">
						<div class="image">
							<img src="../img/cc-img/fashion_14.jpg" alt="" />
						</div>
						<div class="name">
							夏季清新时尚闺蜜套装
						</div>
						<div class="font">
							￥99.9 <span class="gray">&#10005;1</span>
						</div>
						<div class="font">
							颜色
						</div>
						<div class="font gray">
							黑白条纹131
						</div>
						<div class="font">
							尺码
						</div>
						<div class="font gray">
							160/80A/S
						</div>
					</div>
				</div>
				<div class="buy">
					<div class="font">购买数量</div>
					<div class="input">
						<span>&minus;</span><span>1</span><span>＋</span>
					</div>
				</div>
				<div class="address">
					<b><img src="../img/cc-img/title_06.jpg" alt="" /></b>
					<div class="font">收货地址</div>
					<div class="font gray">北京市大兴区西红门福利农场</div>
					<div class="font pink">管理地址<i class="pink" style="padding-left:0.3rem">&rsaquo;</i></div>
				</div>
				<div class="add">
					<div class="font">优惠：<span class="gray">无</span></div>
					<div class="font">总计：<i class="pink">99.9</i>元</div>
				</div>
			</div>
			<footer>
				<p>共计<i class="pink">1</i>件商品,支付金额<i class="pink">99.9</i>元</p>
				<button><a href="rl_zf.html">提交订单</a></button>
			</footer>
		</div>
	</body>
</html>
