<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 设置手机端全屏显示，不允许出现滚动条  -->
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta name="format-detection" content="telphone=no, email=no" />	
		<!--  引入图标文件  -->
		<link rel="stylesheet" type="text/css" href="../css/svg/font.css"/>	
		<!--   样式加载    -->
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/clothes-mo.css"/>
		<script src="../js/rem.js"></script>
		<title></title>
	</head>
	<body>
		
		<div class="cc">
			<header>
				<div class="fl"><a href="javascript:history.back(-1);">&lsaquo;</a></div>
				衣橱
				<div class="fr">&lsaquo;</div>
			</header>
			<div class="cloth">
				<a href="cc-inventory-mo.html">
				<div class="one">
					<div class="img">
						<img src="../img/cc-img/fashion_08.jpg" alt="" />
					</div>
					<div class="text">
						<p>适合和闺蜜一起分享的变美清单</p>
						<p><b><img src="../img/cc-img/fashion_2.png"/></b>24498</p>
					</div>
					</a>
				</div>
				<div class="one">
					<div class="img">
						<img src="../img/cc-img/fashion_09.jpg" alt="" />
					</div>
					<div class="text">
						<p>经典百搭复古回潮，让这个夏日清新又时尚</p>
						<p><b><img src="../img/cc-img/fashion_2.png"/></b>24498</p>
					</div>
				</div>
				<div class="one">
					<a href="cc-inventory-mo.html">
					<div class="img">
						<img src="../img/cc-img/fashion_10.jpg" alt="" />
					</div>
					<div class="text">
						<p>不愁穿什么！这些基本款可以搭百年</p>
						<p><b><img src="../img/cc-img/fashion_2.png"/></b>24498</p>
					</div>
					</a>
				</div>
				<div class="one">
					<div class="img">
						<img src="../img/cc-img/fashion_11.jpg" alt="" />
					</div>
					<div class="text">
						<p>连情侣装都怎么好看本宝宝还小</p>
						<p><b><img src="../img/cc-img/fashion_2.png"/></b>24498</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
