<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 设置手机端全屏显示，不允许出现滚动条  -->
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta name="format-detection" content="telphone=no, email=no" />	
		<!--  引入图标文件  -->
		<link rel="stylesheet" type="text/css" href="../css/svg/font.css"/>	
		<!--   样式加载    -->
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/clothes-mo.css"/>
		<script src="../js/rem.js"></script>
		<title></title>
	</head>
	<body>
		
		<div class="cc">
			<header>
				<div class="fl"><a href="javascript:history.back(-1);">&lsaquo;</a></div>
				购物清单
				<div class="fr">&lsaquo;</div>
			</header>
			<div class="inventory">
				<ul>
					<li><a href="#">最受欢迎</a></li>
					<li><a href="#">最新发布</a></li>
				</ul>
				<div class="main">
					<div class="xia">
						<div class="img">
							<a href="cc-detail-mo.html">
							<img src="../img/cc-img/fashion_12.jpg" alt="" />
							</a>
						</div>	
						<div class="text">
							夏季清新时尚闺蜜套装
							<span class="fr icon-bookmark"><b>￥99.9</b></span>
						</div>
					</div>
					<div class="xia">
						<div class="img">
							<img src="../img/cc-img/fashion_13.jpg" alt="" />
						</div>	
						<div class="text">
							夏季清新时尚萝莉时装
							<span class="fr icon-bookmark"><b>￥99.9</b></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
