<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 设置手机端全屏显示，不允许出现滚动条  -->
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta name="format-detection" content="telphone=no, email=no" />	
		<!--  引入图标文件  -->
		<link rel="stylesheet" type="text/css" href="../css/svg/font.css"/>	
		<!--   样式加载    -->
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/index-mo.css"/>
		<script src="../js/rem.js"></script>
		<script type="text/javascript" src="../js/zepto.js" ></script>
	 	<script type="text/javascript" src="../js/zepto.fx.js" ></script>
	 	<script type="text/javascript" src="../js/zTouch.min.js" ></script>
	 	<script type="text/javascript" src="../js/index-mo.js"></script>
		<title></title>
	</head>
	<body>
		
		<div class="cc">
			<header>
				<div class="menu icon-menu fl"></div>
				时尚
				<div class="search icon-search fr"></div>
			</header>
			<div class="banner">
				<div class="banner-cont" id="banner">
					<ul id="ul">
						<li><img src="../img/cc-img/banner_01.jpg"></li>
						<li><img src="../img/cc-img/banner_02.jpg"></li>
						<li><img src="../img/cc-img/banner_01.jpg"></li>
						<li><img src="../img/cc-img/banner_02.jpg"></li>
						<li><img src="../img/cc-img/banner_01.jpg"></li>
					</ul>
					<ol id="ol">
						<li class="active"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
			<div class="fashion">
				<div class="title">
					<p>时尚分类</p>
				</div>
				<div class="classify">
					<div class="cloth">
						<a href="cc-clothes-mo.html">
						<div class="text">
							衣橱
						</div>
						</a>
					</div>
					<div class="cloth shoe">
						<div class="text">
							鞋柜
						</div>
					</div>
					<div class="cloth backet">
						<div class="text">
							包包
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="height:2.05rem;width:100%;"></div>
		<footer>
			<ul>
				<li><a href="lights.html">
					<b><img src="../img/cc-img/icon_01.jpg" alt="" /></b>
					<p>灯火</p>
				</a></li>
				<li><a href="conversation.html">
					<b><img src="../img/cc-img/icon_02.jpg" alt="" /></b>
					<p>会话</p>
				</a></li>
				<li><a href="cc-index-mo.html">
					<b><img src="../img/cc-img/icon_3.jpg" alt="" /></b>
					<p style="color:#ec5252;">时尚</p>
				</a></li>
				<li><a href="crl_ph.html">
					<b><img src="../img/cc-img/icon_04.jpg" alt="" /></b>
					<p>排行</p>
				</a></li>
				<li><a href="fourth.html">
					<b><img src="../img/cc-img/icon_05.jpg" alt="" /></b>
					<p>我的</p>
				</a></li>
			</ul>
		</footer>
	</body>
</html>
