<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>排行</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/crl_ph.css" />
    <script src="../js/rem.js"></script>
    <script src="../js/rl_ph.js"></script>
</head>
<body>
	<div class="crl_main">
		<div class="rl_top">
				<div class="rl_l left">
					<img src="../img/paihang/1.gif"/>
				</div>
				<div class="rl_r right">
					<a href="search.html">
					<img src="../img/paihang/2.gif"/>
					</a>
				</div>
			</div>
		<div class="rl_banner">
			
			<div class="rl_pai">
				<p>RanKing <span>排行</span></p>
			</div>
			<div class="rl_nav">
				<ul id="rl_nav">
					<li class="rl_boder"><a href="javascript:;">魅力男女</a></li>
					<li><a href="javascript:;">时尚排行</a></li>
					<li><a href="javascript:;">消费排行</a></li>
				</ul>
			</div>
		</div>
		<!--header-->
		<div class="classify">
			<ul id="rlshow">
				<li><a href="javascript:;" class="rl_red">每日排行</a></li>
				<li><a href="javascript:;">每周排行</a></li>
				<li><a href="javascript:;">每月排行</a></li>
				<li><a href="javascript:;">总排行</a></li>
			</ul>	
		</div>
		<div id="fy_zong">
			<div class="fy_big" style="display: block;">
		<div class="fy_list">
			<a href="gift.html">
			<div class="list_lf">
				<img src="../img/paihang/t1.gif" />
			</div>
			<div class="list_con">
				<h3>Krystal&nbsp;&nbsp;<b><img src="../img/paihang/nv.gif"/></b></h3>
				<p><span>22岁</span><span>北京</span><span>朝阳</span></p>
			</div>
			<div class="list_rg">
				<p><img src="../img/paihang/xin1.gif"/></p>
				<p>11204</p>
			</div>
			</a>
		</div>
		<div class="fy_list listtow">
			<a href="gift.html">
			<div class="list_lf">
				<img src="../img/paihang/t2.gif" />
			</div>
			<div class="list_con">
				<h3>Tom&nbsp;&nbsp;<b><img src="../img/paihang/nan.gif"/></b></h3>
				<p><span>23岁</span><span>北京</span><span>东城</span></p>
			</div>
			<div class="list_rg rgtow">
				<p><img src="../img/paihang/xin1.gif"/></p>
				<p>9058</p>
			</div>
			</a>
		</div>
		<div class="fy_list listthree">
			<div class="list_lf">
				<img src="../img/paihang/t3.gif" />
			</div>
			<div class="list_con">
				<h3>Catch&nbsp;&nbsp;<b><img src="../img/paihang/nv.gif"/></b></h3>
				<p><span>20岁</span><span>河北</span><span>石家庄</span></p>
			</div>
			<div class="list_rg rgthree">
				<p><img src="../img/paihang/xin1.gif"/></p>
				<p>7524</p>
			</div>
			
		</div>
		<div class="fy_list listsame">
			<a href="gift.html">
			<div class="list_lf">
				<img src="../img/paihang/t4.gif" />
			</div>
			<div class="list_con">
				<h3>琉璃&nbsp;&nbsp;<b><img src="../img/paihang/nv.gif"/></b></h3>
				<p><span>22岁</span><span>上海</span><span>金山区</span></p>
				
			</div>
			<div class="list_rg rgsame">
				<p>5488</p>
			</div>
			</a>
		</div>
		<div class="fy_list listsame">
			<div class="list_lf">
				<img src="../img/paihang/t5.gif" />
			</div>
			<div class="list_con">
				<h3>岁城璃心&nbsp;&nbsp;<b><img src="../img/paihang/nan.gif"/></b></h3>
				<p><span>22岁</span><span>大连</span><span>金州</span></p>
			</div>
			<div class="list_rg rgsame">
				<p>3904</p>
			</div>
			
		</div>
			</div>
			<!--第一页-->
			<div class="fy_big">
				<div class="rl_ssph">
					<div class="ssph_lf">
						<img src="../img/paihang/ss1.gif"/>
					</div>
					<div class="ssph_ct">
						<h1>民族风褂子</h1>
						<p>￥79.0</p>
					</div>
					<div class="ssph_rg">
						<p><i><img src="../img/paihang/zan1.gif"/></i><span>200</span></p>
						<p><i><img src="../img/paihang/cang.gif"/></i><span>198</span></p>
					</div>
				</div>
				<div class="rl_ssph">
					<div class="ssph_lf">
						<img src="../img/paihang/ss2.gif"/>
					</div>
					<div class="ssph_ct">
						<h1>迪奥唇膏</h1>
						<p>￥320.0</p>
					</div>
					<div class="ssph_rg">
						<p><i><img src="../img/paihang/zan1.gif"/></i><span>139</span></p>
						<p><i><img src="../img/paihang/cang.gif"/></i><span>120</span></p>
					</div>
				</div>
				<div class="rl_ssph">
					<div class="ssph_lf">
						<img src="../img/paihang/ss3.gif"/>
					</div>
					<div class="ssph_ct">
						<h1>达芙妮凉鞋</h1>
						<p>￥299.0</p>
					</div>
					<div class="ssph_rg">
						<p><i><img src="../img/paihang/zan1.gif"/></i><span>103</span></p>
						<p><i><img src="../img/paihang/cang.gif"/></i><span>116</span></p>
					</div>
				</div>
			</div>
			<!--第二页-->
			<div class="fy_big">
				<div class="fy_list">
			<div class="list_lf">
				<img src="../img/paihang/t1.gif" />
			</div>
			<div class="list_con">
				<h3>Krystal&nbsp;&nbsp;<b><img src="../img/paihang/nv.gif"/></b></h3>
				<p><span>22岁</span><span>北京</span><span>朝阳</span></p>
			</div>
			<div class="list_rg">
				<p><a href='giftindex.html'><img src="../img/paihang/li.gif"/></a></p>
				<p>11204</p>
			</div>
			
		</div>
		<div class="fy_list listtow">
			<div class="list_lf">
				<img src="../img/paihang/t2.gif" />
			</div>
			<div class="list_con">
				<h3>Tom&nbsp;&nbsp;<b><img src="../img/paihang/nan.gif"/></b></h3>
				<p><span>23岁</span><span>北京</span><span>东城</span></p>
			</div>
			<div class="list_rg rgtow">
				<p><a href='giftindex.html'><img src="../img/paihang/li2.gif"/></a></p>
				<p>9058</p>
			</div>
			
		</div>
		<div class="fy_list listthree">
			<div class="list_lf">
				<img src="../img/paihang/t3.gif" />
			</div>
			<div class="list_con">
				<h3>Catch&nbsp;&nbsp;<b><img src="../img/paihang/nv.gif"/></b></h3>
				<p><span>20岁</span><span>河北</span><span>石家庄</span></p>
			</div>
			<div class="list_rg rgthree">
				<p><a href='giftindex.html'><img src="../img/paihang/li3.gif"/></a></p>
				<p>7524</p>
			</div>
			
		</div>
		<div class="fy_list listsame">
			<div class="list_lf">
				<img src="../img/paihang/t4.gif" />
			</div>
			<div class="list_con">
				<h3>琉璃&nbsp;&nbsp;<b><img src="../img/paihang/nv.gif"/></b></h3>
				<p><span>22岁</span><span>上海</span><span>金山区</span></p>
			</div>
			<div class="list_rg rgsame">
				<p>5488</p>
			</div>
			
		</div>
		<div class="fy_list listsame">
			<div class="list_lf">
				<img src="../img/paihang/t5.gif" />
			</div>
			<div class="list_con">
				<h3>岁城璃心&nbsp;&nbsp;<b><img src="../img/paihang/nan.gif"/></b></h3>
				<p><span>22岁</span><span>大连</span><span>金州</span></p>
			</div>
			<div class="list_rg rgsame">
				<p>3904</p>
			</div>
			
		</div>
			</div>
			<!--第三页-->
		</div>
		
		<div class="gap">
			
		</div>
		<div class="rl_footer">
			<div>
				<a href="lights.html">
				<img src="../img/paihang/deng.gif" alt="" />
				<p>灯火</p>
				</a>
			</div>
			<div>
				<a href="conversation.html">
				<img src="../img/paihang/hua.gif" alt="" />
				<p>会话</p>
				</a>
			</div>
			<div>
				<a href="cc-index-mo.html">
				<img src="../img/paihang/shi.gif" alt="" />
				<p>时尚</p>
				</a>
			</div>
			<div>
				<a href="crl_ph.html">
				<img src="../img/paihang/pai.gif" alt="" />
				<p class="active">排行</p>
				</a>
			</div>
			<div>
				<a href="fourth.html">
				<img src="../img/paihang/wo.gif" alt="" />
				<p>我的</p>
				</a>
			</div>
		</div>
	</div>
</body>
</html>