<!doctype html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="../js/bx-js/style.js"></script>
	<link rel="stylesheet" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" href="../css/bx-css/base.css" />
	<link rel="stylesheet" href="../css/bx-css/fifth.css" />
</head>
<body>
	<div class="bx_big">
		<div class="bx_top">
			<div class="bx_l">
				<a href="javascript:history.back(-1);">
				<i class="fa fa-angle-left"></i>
				</a>
			</div>
			<div class="bx_z">
				<i>账号设置</i>
			</div>
			<div class="bx_r">
				<i>编辑</i>
			</div>
		</div>
		<div class="bx_zhong">
			<div class="bx_l1">
				<div class="bx_girl"></div>
			</div>
			<div class="bx_z1">
				<h3>四十只猫</h3>
				<p>6530688</p>
			</div>
			<div class="bx_y1">
				<i class="fa fa-check"></i>
			</div>
		</div>
		<div class="bx_xia">
			<div class="bx_l2">
				<div class="bx_boy"></div>
			</div>
			<div class="bx_z2">
				<h3>飞雁惊鸿</h3>
				<p>6530900</p>
			</div>
		</div>
		<div class="bx_xia1">
			<div class="bx_ss">
				<div class="bx_tutu"></div>
			</div>
			<div class="bx_ss1">
				<i>添加账号</i>
			</div>
			
			
		</div>
		<div class="bx_xia2">
			<div class="bx_ww">
				<h3>关联账号</h3>
			</div>
			<div class="bx_ww1">
				<h3>飞雁惊鸿</h3>
			</div>
			<div class="bx_ww2">
				<i class="fa fa-angle-right"></i>
			</div>
		</div>
		<div class="bx_xia3">关联账户后,即可代收该号的好友消息。</div>
		<div class="bx_tiao">退出当前账号</div>
	</div>
</body>
</html>