<!doctype html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="../js/bx-js/style.js"></script>
	<link rel="stylesheet" href="../css/bx-css/first.css" />
	<link rel="stylesheet" href="../css/bx-css/base.css" />
	<link rel="stylesheet" href="../css/bx-css/svg/font.css" />
	<link rel="stylesheet" href="../css/font-awesome.min.css" />
</head>
<body>
	<div class="bx_big">
		<div class="bx_top">
		<div class="bx_left">
			<a href="third.html"><div class="fa fa-angle-left"></div></a>
		</div>
			<div class="bx_right">
				<h3>官方活动</h3>
			</div>
		</div>
		<div class="bx_topp"></div>
		<img src="../img/bx-img/1.gif" alt="" / class="bx_tu1">
		<div class="bx_white"></div>
		<img src="../img/bx-img/2.gif" alt="" / class="bx_tu2">
		<div class="bx_white"></div>
		<a href="cc-index-detail-mo.html">
		<img src="../img/bx-img/3.gif" alt="" / class="bx_tu3">
		</a>
		<div class="bx_white"></div>
		<img src="../img/bx-img/4.gif" alt="" / class="bx_tu4">
		<div class="bx_white"></div>
	</div>
</body>
</html>