<!doctype html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="../js/bx-js/style.js"></script>
	<link rel="stylesheet" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" href="../css/bx-css/base.css" />
	<link rel="stylesheet" href="../css/bx-css/fourth.css" />
</head>
<body>
	<div class="bx_big">
		<div class="bx_bg">
			<div class="bx_top">
				<div class="bx_l">
					<i class="fa fa-list-ul"></i>
				</div>
				<div class="bx_r">
					<a href="second.html">
					<i class="fa fa-pencil"></i>
					</a>
				</div>
			</div>
			<div class="bx_mao">
				<div class="bx_left">
					<h3>四十只猫</h3>
					<p>数据的竞争,才是真正世界未来的竞争</p>
					<i class="bx_aa"></i>
				</div>
				<div class="bx_right">
					<div class="bx_tu"></div>
				</div>
			</div>
		</div>
		<div class="bx_jf">
			<div class="bx_zuo">
				<h3 class="fa fa-circle-o"></h3>
				<p>积分</p>
				<i>17853</i>
			</div>
			<div class="bx_zhong">
				<h3 class="fa fa-circle-o"></h3>
				<p>魅力</p>
				<i>5642</i>
			</div>
			<div class="bx_you">
				<h3 class="fa fa-circle-o"></h3>
				<p>银豆</p>
				<i>2000</i>
			</div>
		</div>
		<div class="bx_bottom">
			<div class="bx_shop">
				<h3 class="fa fa-heart-o"></h3>
				<p>喜欢的商品</p>
				<i>15</i>
			</div>
			<div class="bx_shop1">
				<a href="rl_tz.html">
				<h3 class="fa fa-gift"></h3>
				<p>收到的礼物</p>
				<i>38</i>
				</a>
			</div>
			<div class="bx_shop2">
				<h3 class="fa fa-thumbs-o-up"></h3>
				<p>想买的商品</p>
				<i>12</i>
			</div>
			<div class="bx_shop3">
				<a href="third.html">
				<h3 class="fa fa-cog"></h3>
				<p>功能管理</p>
				</a>
			</div>
		</div>
		<div class="bx_xx">
			<ul>
				<li>
					<a href="lights.html">
					<p><img src="../img/bx-img/28.gif" alt="" / class="bx_deng"></p>
					<p>灯火</p>
					</a>
				</li>
				<li>
					<a href="conversation.html">
					<p style="margin-top:0.3;"><img src="../img/bx-img/29.gif" alt="" / class="bx_hui"></p>
					<p>会话</p>
					</a>
				</li>
				<li>
					<a href="cc-index-mo.html">
					<p><img src="../img/bx-img/30.gif" alt="" / class="ss"></p>
					<p>时尚</p>
					</a>
				</li>
				<li>
					<a href="crl_ph.html">
					<p><img src="../img/bx-img/31.gif" alt="" / class="pai"></p>
					<p>排行</p>
					</a>
				</li>
				<li>
					<a href="fourth.html">
					<p><img src="../img/bx-img/32.gif" alt="" / class="de"></p>
					<p class="red">我的</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>