<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/mmxapp7.css" />
		<link rel="stylesheet" type="text/css" href="../css/mmxapp6.css" />
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../js/lights.js"></script>
	</head>

	<body>
		<!--<div class="swiper-container swiper-container-horizontal" id="swiper-container1">
  <div class="swiper-wrapper">
  	<div class="swiper-slide red-slide swiper-slide-prev">-->
		<div class="dabox" >


			<div class="zbox">
				<header>
					<div class="top">
						<a href="javascript:;" id="huiqu"><img src="../img/xxx.png" alt="" /></a>

					</div>
					<div class="bottom">
						<div class="left">
							<a href="javascript:;">
								<div class="img">
									<img src="../img/2015102008501073397.jpg" alt="" />
								</div>
							</a>
						</div>
						<div class="right">
							<div class="top">四十只猫 &nbsp;&nbsp;<img src="../img/vip.png" /></div>
							<div class="bottom">
								数据的竞争，<br/>才是真正世界未来的竞争...
							</div>

						</div>

					</div>

				</header>
				<section>
					<div class="center">
						<div class="xxbox">
							<a href="javacript:;"><img src="../img/yh.png" alt="" /> 我的会员
							</a>
						</div>
						<div class="xxbox">
							<a href="javacript:;"><img src="../img/btp.png" alt="" /> 我的相册
							</a>

						</div>
						<div class="xxbox">
							<a href="javacript:;"><img src="../img/qb.png" alt="" /> 钱包管理
							</a>
						</div>
						<div class="xxbox">
							<a href="javacript:;"> <img src="../img/gx.png" alt="" /> 个性装扮
							</a>
						</div>
						<div class="xxbox">
							<a href="javacript:;"> <img src="../img/gr.png" alt="" /> 我的收藏
							</a>
						</div>
						<div class="xxbox">
							<a href="javacript:;"> <img src="../img/dd.png" alt="" /> 清单管理
							</a>
						</div>
						<div class="xxbox">
							<a href="javacript:;"> <img src="../img/aq.png" alt="" /> 账号安全
							</a>
						</div>

					</div>

				</section>

				<footer>
					<div class="left">
						<img src="../img/sz.png" alt="" />
						<a href="javascript:;">设置</a>
					</div>

					<div class="right">
						<img src="../img/qh.png" alt="" />
						<a href="javascript:;">切换</a>
					</div>

				</footer>

			</div>

			<!--  		
    </div>-->
			<!--<div class="swiper-slide blue-slide swiper-slide-active">-->
				
							<div class="box" id="box">
				<div class="cbox">
					<header>
						<div class="right">
							<p>2016.6</p>
							<div>封面女郎</div>
							<p>——第六期——</p>
						</div>

					</header>
					<div class="title">
						<a href="gift.html">
							<div class="left">
								<div class="img"><img src="../img/64c930a27ee4d15137191d9d259c1669dace1dad173a1-4SCv2X_fw658.jpg" alt="" /></div>

							</div>
							<div class="right">
								<div class="top">琉璃&nbsp;<img src="../img/nv.png" alt="" /></div>
								<div class="center">
									22岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 北京&nbsp;&nbsp; 东城 &nbsp;&nbsp; <img src="../img/xhdz.png" alt="" />&nbsp; <span>0.02</span>km
									<img src="../img/ax.png" alt="" />
								</div>
								<div class="bottom">
									<img src="../img/smrz.png" alt="" />
									<img src="../img/vip.png" alt="" />
									<img src="../img/tp.png" alt="" />
								</div>
							</div>
						</a>
					</div>
					<section>

						<div class="centerbox">
							<div class="left">
								<div class="img"><img src="../img/61fefd84bc401f19a44f706374af6015bccc2a6b62093-DLkhMV_fw658.jpg" alt="" /></div>
							</div>
							<div class="right">
								<div class="top">小鹿&nbsp;<img src="../img/nv.png" alt="" /></div>
								<div class="center">
									25岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 北京&nbsp;&nbsp; 大兴 &nbsp;&nbsp; <img src="../img/xhdz.png" alt="" />&nbsp; <span>0.12</span>km
									<img src="../img/hax.png" alt="" />
								</div>
								<div class="bottom">
									<img src="../img/smrz.png" alt="" />
									<img src="../img/vip.png" alt="" />
									<img src="../img/hsxtk.png" alt="" />
								</div>
							</div>
						</div>
						<div class="centerbox">
							<div class="left">
								<div class="img"><img src="../img/c5a6ba3a27b2ac1ee07a36e21d683d5637df355239018-gdNT9S_fw658.jpg" alt="" /></div>

							</div>
							<div class="right">
								<div class="top">Krystal&nbsp;<img src="../img/nv.png" alt="" /></div>
								<div class="center">
									18岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 北京&nbsp;&nbsp; 东城 &nbsp;&nbsp; <img src="../img/xhdz.png" alt="" />&nbsp; <span>11.57</span>km
									<img src="../img/hax.png" alt="" />
								</div>
								<div class="bottom">
									<img src="../img/smrz.png" alt="" />
									<img src="../img/hvip.png" alt="" />
									<img src="../img/tp.png" alt="" />
								</div>
							</div>
						</div>
						<div class="centerbox">
							<div class="left">
								<div class="img"><img src="../img/d38c78c82a6fed932ab712c09bfacb97a59573422786d-PfeMKU_fw658.jpg" alt="" /></div>

							</div>
							<div class="right">
								<div class="top">月影&nbsp;<img src="../img/nv.png" alt="" /></div>
								<div class="center">
									18岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 北京&nbsp;&nbsp; 东城 &nbsp;&nbsp; <img src="../img/xhdz.png" alt="" />&nbsp; <span>8.42</span>km
									<img src="../img/hax.png" alt="" />
								</div>
								<div class="bottom">
									<img src="../img/smrz.png" alt="" />
									<img src="../img/hvip.png" alt="" />
									<img src="../img/tp.png" alt="" />
								</div>
							</div>
						</div>
						<div class="centerbox">
							<div class="left">
								<div class="img"><img src="../img/04c93d94a8e906b15928cdbfe3ed10d5bc6f6d33125fe-vEnssa_fw658.jpg" alt="" /></div>

							</div>
							<div class="right">
								<div class="top">月瑶&nbsp;<img src="../img/nv.png" alt="" /></div>
								<div class="center">
									18岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 北京&nbsp;&nbsp; 东城 &nbsp;&nbsp; <img src="../img/xhdz.png" alt="" />&nbsp; <span>8.42</span>km
									<img src="../img/hax.png" alt="" />
								</div>
								<div class="bottom">
									<img src="../img/smrz.png" alt="" />
									<img src="../img/hvip.png" alt="" />
									<img src="../img/tp.png" alt="" />
								</div>
							</div>
						</div>
						<!--<div class="centerbox">
					<div class="left">
				<a href="javascript:;">			<div class="../img"><img src="../img/04c93d94a8e906b15928cdbfe3ed10d5bc6f6d33125fe-vEnssa_fw658.jpg" alt="" /></div>
						</a>
					</div>
					<div class="right">
					<div class="top">月瑶&nbsp;<img src="../img/nv.png" alt="" /></div>
					<div class="center">
					18岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 北京&nbsp;&nbsp;  东城 &nbsp;&nbsp;  <img src="../img/xhdz.png" alt="" />&nbsp;  <span>8.42</span>km
				    <img src="../img/hax.png" alt="" />
					</div>
					<div class="bottom">
					<img src="../img/smrz.png" alt="" />
					<img src="../img/hvip.png" alt="" />
					<img src="../img/tp.png" alt="" />
					</div>
					</div>
				</div>-->

					</section>

					<footer>
						<div class="footerbox1">
							<a href='lights.html'>灯火</a>
						</div>
						<div class="footerbox2">
							<a href='conversation.html'>会话</a>
						</div>
						<div class="footerbox3">
							<a href="cc-index-mo.html">时尚</a>
						</div>
						<div class="footerbox4">
							<a href="crl_ph.html">排行</a>
						</div>
						<div class="footerbox5">
							<a href="fourth.html">我的</a>
						</div>
					</footer>
				</div>

			</div>
				
				
				
		</div>
		
		

		<!--</div>
    
  </div>
</div>-->

		<script type="text/javascript">
			(function(win) {
				var ratio, scaleValue, renderTime,
					document = window.document,
					docElem = document.documentElement,
					vpm = document.querySelector('meta[name="viewport"]');
				if(vpm) {
					var tempArray = vpm.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
					if(tempArray) {
						scaleValue = parseFloat(tempArray[2]);
						ratio = parseInt(1 / scaleValue);
					}
				} else {
					vpm = document.createElement("meta");
					vpm.setAttribute("name", "viewport");
					vpm.setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no,minimal-ui");
					docElem.firstElementChild.appendChild(vpm);
				}

				win.addEventListener("resize", function() {
					clearTimeout(renderTime);
					renderTime = setTimeout(initPage, 300);
				}, false);

				win.addEventListener("pageshow", function(e) {
					e.persisted && (clearTimeout(renderTime), renderTime = setTimeout(initPage, 300));
				}, false);

				"complete" === document.readyState ? document.body.style.fontSize = 12 * ratio + "px" :
					document.addEventListener("DOMContentLoaded", function() {
						document.body.style.fontSize = 12 * ratio + "px";
					}, false);
				initPage();

				function initPage() {
					var htmlWidth = docElem.getBoundingClientRect().width;
					if(htmlWidth > 640) htmlWidth = 640;
					htmlWidth / ratio > 640 && (htmlWidth = 640 * ratio);
					win.rem = htmlWidth / 16;
					docElem.style.fontSize = win.rem + "px";
				}
			})(window);
		</script>

	</body>

</html>