<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>道具商城</title>
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/rl_dj.css" />
		<script src="../js/rem.js"></script>
	</head>
	<body>
		<div class="crl_main">
			<div class="rl_fixed">
				<div class="rl_head">
			   <p>道具商城</p>
			   <div class="rl_fh">
			   	<a href="javascript:history.back(-1);	"><img src="../img/daoju/fh.gif"/></a>
			   </div>
			</div>
			</div>
			
			<div class="rl_tu mtop">
				<img src="../img/daoju/meishi.gif"/>
			</div>
			<div class="rl_tu">
				<img src="../img/daoju/xh.gif"/>
			</div>
			<div class="rl_tu">
				<img src="../img/daoju/sp.gif"/>
			</div>
			<div class="rl_tu">
				<img src="../img/daoju/zb.gif"/>
			</div>
		</div>
	</body>
</html>
