<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<title>我的设置</title>
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/rl_sz.css" />
		<script src="../js/rem.js"></script>
		<script src="../js/rl_sz.js"></script>
	</head>
	<body>
		<div class="crl_main">
			<div class="rl_head">
				<div class="head_lf">
					<a href="javascript:history.back(-1);">
					<img src="../img/daoju/fh.gif"/>
					</a>
				</div>
				<div class="head_ct">
					<p>我的设置</p>
				</div>
				<div class="head_rg">
					<img src="../img/shezhi/z.gif"/>
				</div>
			</div>
			<!--header-->
			<div class="fitlist rlfirst">
				<div class="fitlf">
					<p>用户帮助</p>
				</div>
				<div class="fitrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
			</div>
			<a href="fifth.html">
			<div class="fitlist">
				<div class="fitlf">
					<p>账号设置</p>
				</div>
				<div class="fitrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
			</div>
			</a>
			<div class="fitlist jianxi">
				<div class="fitlf">
					<p>消息提醒</p>
				</div>
				<div class="fitrg fitrgkg">
					<img src="../img/shezhi/kg.gif" id="kg"/>
				</div>
			</div>
			<div class="fitlist">
				<div class="fitlf">
					<p>自动登录</p>
				</div>
				<div class="fitrg fitrgkg">
					<img src="../img/shezhi/kg.gif" id="kg2"/>
				</div>
			</div>
			<div class="fitlist">
				<div class="fitlf">
					<p>清除缓存</p>
				</div>
				<div class="fitrg">
					<span>12.8M</span>
				</div>
			</div>
			<div class="fitlist">
				<div class="fitlf">
					<p>软件升级</p>
				</div>
				<div class="fitrg">
					<span>V5.3.1</span>
				</div>
			</div>
			<div class="fitlist">
				<div class="fitlf">
					<p>意见反馈</p>
				</div>
				<div class="fitrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
			</div>
			<div class="fitlist">
				<div class="fitlf">
					<p>关于我们</p>
				</div>
				<div class="fitrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
			</div>
			<div class="fitlist">
				<div class="fitlf">
					<p>实名认证</p>
				</div>
				<div class="fitrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
			</div>
		</div>
	</body>
</html>
