<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>礼物通知</title>
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/rl_tz.css" />
		<script src="../js/rem.js"></script>
	</head>
	<body>
		<div class="crl_main">
			<div class="rl_fixed">
				<div class="rl_head">
			   <p>礼物通知</p>
			   <div class="rl_fh">
			   	<a href="javascript:history.back(-1);"><img src="../img/daoju/fh.gif"/></a>
			   </div>
			</div>
			</div>
			<!--header-->
			<div class="notice notfirst">
				<div class="notice_lf">
					<img src="../img/tongzhi/fen.gif"/>
				</div>
				<div class="notice_ct">
					<span>琉璃</span>
					<p>送给您3支粉玫瑰</p>
					<h2><span>积分</span><i>+10</i><span>魅力</span><i>+10</i></h2>
				</div>
				<div class="notice_rg">
					<span>3小时前</span>
				</div>
			</div>
			<div class="notice">
				<div class="notice_lf">
					<img src="../img/tongzhi/fen.gif"/>
				</div>
				<div class="notice_ct">
					<span>飞雁惊鸿</span>
					<p>送给您2支粉玫瑰</p>
					<h2><span>积分</span><i>+10</i><span>魅力</span><i>+10</i></h2>
				</div>
				<div class="notice_rg">
					<span>6小时前</span>
				</div>
			</div>
			<div class="notice">
				<div class="notice_lf">
					<img src="../img/tongzhi/bai.gif"/>
				</div>
				<div class="notice_ct">
					<span>月影</span>
					<p>送给您3支白玫瑰</p>
					<h2><span>积分</span><i>+10</i><span>魅力</span><i>+10</i></h2>
				</div>
				<div class="notice_rg">
					<span>昨天</span>
				</div>
			</div>
			<div class="notice">
				<div class="notice_lf">
					<img src="../img/tongzhi/jie.gif"/>
				</div>
				<div class="notice_ct">
					<span>桃宝</span>
					<p>送给您1枚戒指</p>
					<h2><span>积分</span><i>+10</i><span>魅力</span><i>+10</i></h2>
				</div>
				<div class="notice_rg">
					<span>昨天</span>
				</div>
			</div>
		</div>
	</body>
</html>
