<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>选择支付方式</title>
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/rl_zf.css" />
		<script src="../js/rem.js"></script>
	</head>
	<body>
		<div class="crl_main">
			<div class="rl_head">
				<div class="head_lf">
					<a href="javascript:history.back(-1);">
					<img src="../img/daoju/fh.gif"/>
					</a>
				</div>
				<div class="head_ct">
					<p>选择支付方式</p>
				</div>
				<div class="head_rg">
					<img src="../img/zhifu/duo.gif"/>
				</div>
			</div>
			<!--header-->
			<div class="rl_ddje">
				<div class="ddje_lf">
					<p>订单金额</p>
				</div>
				<div class="ddje_rg">
					<span>￥99.9</span>
				</div>
			</div>
			<div class="rl_way">
				请选择支付方式
			</div>
			<div class="waylist">
				<div class="waylf">
					<p><img src="../img/zhifu/wx.gif" /><span>微信支付</span></p>
				</div>
				<div class="wayrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
				
			</div>
			<div class="waylist">
				<div class="waylf">
					<p><img src="../img/zhifu/zfb.gif" /><span>支付宝支付</span></p>
				</div>
				<div class="wayrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
				
			</div>
			<div class="waylist">
				<div class="waylf">
					<p><img src="../img/zhifu/wy.gif" /><span>我的网银快捷支付</span></p>
				</div>
				<div class="wayrg">
					<img src="../img/zhifu/rduo.gif"/>
				</div>
				
			</div>
		</div>
	</body>
</html>
