<!doctype html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="../js/bx-js/style.js"></script>
	<link rel="stylesheet" href="../css/bx-css/second.css" />
	<link rel="stylesheet" href="../css/bx-css/base.css" />
	<link rel="stylesheet" href="../css/bx-css/svg/font.css" />
</head>
<body>
	<div class="bx_big">
		<div class="bx_bg">
			<div class="bx_top">
				<div class="bx_left">
					<div><a href="javascript:history.back(-1);" class="bx_cha"></a></div>
				</div>
				<div class="bx_right">
					<div class="bx_gou"></div>
				</div>
			</div>
			<div class="bx_tu1"></div>
		</div>
		<div class="bx_zhong">
			<ul>
				<li>
					<div class="bx_z">
						<p>昵称</p>
					</div>
					<div class="bx_r">
						<p>四十只熊猫</p>
					</div>
				</li>
				<li>
					<div class="bx_z1">
						<p>性别</p>
					</div>
					<div class="bx_r1">
						<p>男</p>
					</div>
				</li>
				<li>
					<div class="bx_z2">
						<p>生日</p>
					</div>
					<div class="bx_r2">
						<p>1994.10.14</p>
					</div>
				</li>
				<li>
					<div class="bx_z3">
						<p>地址</p>
					</div>
					<div class="bx_r3">
						<p>北京市大兴区</p>
					</div>
				</li>
				<li>
					<div class="bx_z4">
						<p>我的二维码</p>
					</div>
					<div class="bx_r4">
						<p class="icon-qrcode"></p>
					</div>
				</li>
				<li>
					<div class="bx_z5">
						<p>个性签名</p>
					</div>
					<div class="bx_r5">
						<p>数据的竞争,才是真正世界未来的竞争</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>