<!doctype html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="../js/bx-js/style.js"></script>
	<link rel="stylesheet" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" href="../css/bx-css/base.css" />
	<link rel="stylesheet" href="../css/bx-css/sixth.css" />
</head>
<body>
	<div class="bx_big">
		<div class="bx_top">
			<div class="bx_l">
				<a href="third.html"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="bx_r">
				<i>充值银豆</i>
			</div>
		</div>
		<div class="bx_zhong">
			<div class="bx_left">
				<p>6530688</p>
			</div>
			<div class="bx_center">
				<p>四十只猫</p>
			</div>
			<div class="bx_right">
				<div class="bx_people"></div>
			</div>
		</div>
		<div class="bx_xia">
			<div class="bx_box">
				<div><i class="bx_dd"></i><span>42个</span></div>
				<p>￥6.00</p>
			</div>
			<div class="bx_box1">
				<div><i class="bx_dd"></i><span>210个</span></div>
				<p>￥30.00</p>
			</div>
			<div class="bx_box2">
				<div><i class="bx_dd"></i><span>420个</span></div>
				<p>￥60.00</p>
			</div>
			<div class="bx_box3">
				<div><i class="bx_dd"></i><span>630个</span></div>
				<p>￥90.00</p>
			</div>
			<div class="bx_box4">
				<div><i class="bx_dd"></i><span>840个</span></div>
				<p>￥120.00</p>
			</div>
			<div class="bx_box5">
				<div><i class="bx_dd"></i><span>自定义</span></div>
				<p>￥???</p>
			</div>
		</div>
		<div class="bx_ss">
			<p>共需支付:</p>
		</div>
		<div class="bx_bottom">
			立即支付
		</div>
	</div>
</body>
</html>