<!doctype html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="../js/bx-js/style.js"></script>
	<link rel="stylesheet" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" href="../css/bx-css/base.css" />
	<link rel="stylesheet" href="../css/bx-css/third.css" />
</head>
<body>
	<div class="bx_big">
		<div class="bx_bg">
			<div class="bx_top">
				<div class="bx_l">
					<a href="javascript:history.back(-1);">
					<i class="fa fa-angle-left"></i>
					</a>
				</div>
				<div class="bx_z">
					功能管理
				</div>
				<div class="bx_r">
					<a href="fourth.html">
					<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="bx_cz">
			<div class="bx_fang">
				<h3>我的相册</h3>
				<p>ALBUM</p>
				<i></i>
			</div>
			<a href="first.html">
			<div class="bx_fang1">
				<h3>官方活动</h3>
				<p>OFFICIAL</p>
				<i></i>
			</div>
			</a>
			<a href="sixth.html">
			<div class="bx_fang2">
				<h3>充值银豆</h3>
				<p>RECHARGE</p>
				<i></i>
			</div>
			</a>
			<div class="bx_fang3">
				<a href="rl_dj.html">
				<h3>道具商城</h3>
				<p>PROP MALL</p>
				<i></i>
				</a>
			</div>
			<div class="bx_fang4">
				<h3>会员中心</h3>
				<p>MEMBER</p>
				<i></i>
			</div>
			<a href="seventh.html">
			<div class="bx_fang5">
				<h3>谁看过我</h3>
				<p>MY WALLET</p>
				<i></i>
			</div>
			</a>
			<div class="bx_fang6">
				<h3>我的订单</h3>
				<p>MY ORDER</p>
				<i></i>
			</div>
			<div class="bx_fang7">
				<a href="rl_sz.html">
				<h3>我的设置</h3>
				<p>SETUP</p>
				<i></i>
				</a>
			</div>
		</div>
	</div>
</body>
</html>