body{
	background: #f8f7f7;
	/*overflow-x: hidden;*/
}
.bx_big{
	width: 100%;
	height: 27.4rem;
	background: #f8f7f7;
}
.bx_top{
	width: 100%;
	height: 1.65rem;
	background: #ffffff;
	position: fixed;
	top: 0;
}
.bx_l{
	width: 20%;
	height: 1.65rem;
	float: left;
}
.bx_r{
	width: 80%;
	height: 1.65rem;
	float: left;
}
.bx_l i{
	font-size: 0.75rem;
	color: #ea4242;
	display: block;
	margin-left: 0.65rem;
	margin-top: 0.35rem;
}
.bx_r i{
	font-size: 0.8rem;
	color: #2d2d2d;
	margin-top: 0.35rem;
	display: block;
	text-indent: 3rem;
}
.bx_zhong{
	width: 100%;
	height: 2.35rem;
	margin-top: 2.05rem;
	float: left;
	background: white;
}
.bx_left{
	width: 20%;
	height: 2.35rem;
	float: left;
}
.bx_left p{
	font-size: 0.55rem;
	color: #2b2b2b;
	line-height: 2.35rem;
	margin-left: 0.65rem;
}
.bx_center{
	width: 60%;
	height: 2.35rem;
	float: left;
}
.bx_center p{
	font-size: 0.55rem;
	color: #2b2b2b;
	line-height: 2.35rem;
	margin-left: 0.65rem;
}
.bx_right{
	width: 20%;
	height: 2.35rem;
	float: left;
}
.bx_people{
	width: 0.85rem;
	height: 0.75rem;
	background: url(../../img/bx-img/17.gif) no-repeat;
	background-size: cover;
	margin-left: 1rem;
	margin-top: 0.8rem;
}
.bx_xia{
	width: 94%;
	height: 8.15rem;
	float: left;
	margin-top: 0.7rem;
	margin-left: 0.5rem;
}
.bx_xia>div{
	background: white;
}
.bx_box{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
}
.bx_box>div{
	height: 0.7rem;
	width: auto;
	margin-left: 0.95rem;
	margin-top: 1rem;
}
.bx_box>p{
	color: #ee6666;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.bx_box>div>i{
	float: left;
}
.bx_box>div>span{
	float: left;
	padding-left: 0.25rem;
}

.bx_box1{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
}
.bx_box1>div{
	height: 0.7rem;
	width: auto;
	margin-left: 0.95rem;
	margin-top: 1rem;
}
.bx_box1>p{
	color: #ee6666;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.bx_box1>div>i{
	float: left;
}
.bx_box1>div>span{
	float: left;
	padding-left: 0.25rem;
}

.bx_box2{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
}
.bx_box2>div{
	height: 0.7rem;
	width: auto;
	margin-left: 0.95rem;
	margin-top: 1rem;
}
.bx_box2>p{
	color: #ee6666;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.bx_box2>div>i{
	float: left;
}
.bx_box2>div>span{
	float: left;
	padding-left: 0.25rem;
}

.bx_box3{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
}
.bx_box3>div{
	height: 0.7rem;
	width: auto;
	margin-left: 0.95rem;
	margin-top: 1rem;
}
.bx_box3>p{
	color: #ee6666;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.bx_box3>div>i{
	float: left;
}
.bx_box3>div>span{
	float: left;
	padding-left: 0.25rem;
}

.bx_box4{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
}
.bx_box4>div{
	height: 0.7rem;
	width: auto;
	margin-left: 0.95rem;
	margin-top: 1rem;
}
.bx_box4>p{
	color: #ee6666;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.bx_box4>div>i{
	float: left;
}
.bx_box4>div>span{
	float: left;
	padding-left: 0.25rem;
}

.bx_box5{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
}
.bx_box5>div{
	height: 0.7rem;
	width: auto;
	margin-left: 0.95rem;
	margin-top: 1rem;
}
.bx_box5>p{
	color: #ee6666;
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}
.bx_box5>div>i{
	float: left;
}
.bx_box5>div>span{
	float: left;
	padding-left: 0.25rem;
}
.bx_dd{
	width: 0.75rem;
	height: 0.7rem;
	background: url(../../img/bx-img/18.gif) no-repeat;
	background-size: cover;
	display: block;
}
.bx_box1{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	margin-left: 0.6rem;
	float: left;
}
.bx_box2{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
	margin-left: 0.6rem;
}
.bx_box3{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
	margin-top: 0.6rem;
}
.bx_box4{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
	margin-top: 0.6rem;
	margin-left: 0.6rem;
}
.bx_box5{
	width: 30%;
	height: 3.7rem;
	border: 0.05rem solid #f4f4f4;
	float: left;
	margin-top: 0.6rem;
	margin-left: 0.6rem;
}
.bx_ss{
	width: 100%;
	height: 1.1rem;
	float: left;
	margin-top: 0.6rem;
	color: #888888;
	text-indent: 1rem;
}
.bx_bottom{
	width: 92%;
	height: 2rem;
	background: #ec5252;
	float: left;
	margin-top: 9.8rem;
	margin-left: 0.6rem;
	line-height: 2rem;
	text-align: center;
	color: #fad7d7;
}
